* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #131313;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('/static/image (2)-small.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
}

.news-item {
    border: 1px solid #FFFFFF;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.35);
}

.author-name {
    color: #3CFFC4;
}

.pub-date {
    color: #949494;
}

